<div class="text">
    <h1>Welcome to Turtlogs</h1>

    <div class="donate-section">
        <a href="https://buymeacoffee.com/turtlogs" target="_blank" class="donate-btn">
            ☕ Support Turtlogs - Buy me a coffee!
        </a>
    </div>

    <div class="textContainer">
        <h2>Capturing Logs in Game</h2>
        <p>To capture logs in-game, you will need:</p>
        <ul>
            <li>Superwow - <a href="https://github.com/pepopo978/SuperwowInstallation" target="_blank">Installation guide</a></li>
            <li>Superwow Combat Logger - <a href="https://github.com/pepopo978/SuperWowCombatLogger" target="_blank">Download here</a></li>
        </ul>
        <p>Logs will automatically capture when in raid and appear in your logs folder.</p>
        <p>To upload to the site, you first need to format them by following <a href="https://github.com/pepopo978/SuperWowCombatLogger?tab=readme-ov-file#preparing-for-upload" target="_blank">these steps</a>.</p>

        <h2>Contributing</h2>
        <p>This project is open source! If you want to contribute, check out our repository at <a href="https://github.com/pepopo978/LegacyPlayersV4" target="_blank">https://github.com/pepopo978/LegacyPlayersV4</a>.</p>

        <h2>Acknowledgements</h2>
        <p>Special thanks to Abbe for paying for the server and all those who worked on this codebase in the past.</p>
    </div>
    <button class="btnHighlight" routerLink="/contribute/upload">Upload logs</button>
</div>